<div class="form-header">
    <div class="form-header-left"></div>

    <div name="title" class="form-header-middle canvas-handle"></div>

    <div class="form-header-right">
        <div style="position: relative; display: grid; grid-auto-flow: column; top: 2.5px; height: 16px;">

            <span style="position: relative; top: -2px; width: 8px;">
                <b onclick="this.minimize()">-</b>
            </span>

            <span onclick="this.toggle()" style="position: relative; display: inline-block; top: 3.5px; height: 6px; width: 6px; border: 1.5px solid black;">
            </span>

            <span style="position: relative; top: -2px; width: 8px; margin-left: 2px;">
                <b onclick="this.close()">x</b>
            </span>
        </div>
    </div>
</div>
