<div class="form-header">
    <div class="form-header-left"></div>

    <div name="title" class="form-header-middle canvas-handle"></div>

    <div class="form-header-right">
        <div class="minimize" onclick="this.minimize()">
            <div>&#9601;</div>
        </div>
        <div class="view-toggle" onclick="this.toggle()"> 
            <div><img src="/images/outsidearrow.png" width="9" height="9"/></div>
        </div>
        <div class="close" onclick="this.close()">
           <div>&#215;</div>
        </div>
    </div>
</div>
