<div class="page-header">
    <div style="position: relative; top: 2px; left: 2px; height: 16px;" onclick="this.menu.showmenu()">
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
        <div style="height: 3px; width: 16px; margin: 0; padding: 0; border-bottom: 2px solid black;"></div>
    </div>

    <div style="display: flex; justify-content: center;">
        <b style="position: relative; display: inline-block; height: 18px; top: 1.5px;">Forms Demo</b>
    </div>
    <div class="info">
     
        <ul class="info-dropdown">
            <li>
                <span>F5 for Insert input field</span>
            </li>
             <li>
                <span>F7 for Search input field</span>
            </li>
            <li>
                <span>F8 for Query input field</span>
            </li>
            <li>
                <span>ctrl/shift/d for Datapicker</span>
            </li>
        </ul>
    </div>
</div>
