html, body
{
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.form-area{
	position: relative;
}

.canvas
{
	background: white;
	border: 1px solid black;
}

.page
{
	display: grid;
	grid-auto-flow: column;
	height: calc(100vh - 60px);
	grid-template-columns: fit-content(30%);
}

.page-header
{
	width: 100%;
	height: 20px;
	display: inline-grid;
	grid-auto-flow: column;
	border: 1px solid black;
	background-color: lightgray;
	grid-template-columns: 40px calc(100% - 80px);
}

.page-footer
{
	height: 36px;
	display: flex;
	border-top: 1px solid black;
}

.form-header
{
	width: 100%;
	height: 20px;
	display: inline-grid;
	grid-auto-flow: column;
	background-color: lightgray;
	border-bottom: 1px solid black;
	grid-template-columns: 40px calc(100% - 80px) 40px;
}

.form-header-middle
{
	display: flex;
	justify-content: center;
}

.form-header-right
{
	cursor: default;
}

.menu-left
{
	height: 100%;
	border-right: 1px solid black;
}

.left-menu-container
{
	margin: 5px;
	padding: 10px;
	display: none;
	cursor: pointer;
	min-width: 100px;
	text-align: left;
	border-radius: 0;
	width: fit-content;
	text-decoration: none;
	background: transparent;
}

.menu-item
{
	display: block;
	font-size: 13px;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
}

.link-item
{
	display: block;
	font-size: 13px;
	margin-top: 15px;
	margin-left: -15px;
	background: white;
}

.left-menu-container .menu-items
{
	padding-left:5px;
	transition: 0.3s;
}

.left-menu-container  .menu-item:before
{
	color: black;
	font-size: 13px;
	content: '\25B6';
	margin-right: 5px;
	display:inline-block;
}

.left-menu-container  .link-item:before
{
	color: black;
	font-size: 13px;
	content: '\00a0';
	margin-right: 13px;
	display:inline-block;
}

.left-menu-container a:hover
{
	color: hwb(0 2% 98% / 0.582);
}

.menu-open:before
{
	transform: rotate(90deg);
}

.row-indicator
{
	width: 8px;
	height: 8px;
	display: block;
	background-color: yellow;
}

.filter-indicator
{
	width: 8px;
	height: 8px;
	display: block;
	background-color: grey;
}

.container
{
	display:grid;
	row-gap: 2px;
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}

.block
{
	gap:2px;
	display:grid;
	margin:20px 30px;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.block p
{
	margin:2px;
	display:inline-flex;
}

.block p span
{
	width:80px;
	display:inline-block;
}

.block .button
{
	display:flex;
	margin-bottom: 10px;
	align-items: center;
	justify-content: center;
}

.block .field_fieldset
{
	width: 80%;
	margin-left: 5%;
	margin-top: 30px;
}

.block .column
{
	display:block;
	padding:2px 5px;
}

.block .column span
{
	width:70px;
	padding-left: 5px;
	display:inline-block;
}

.search
{
	width: 100%;
	justify-content: center;
	margin: 2px 0px 2px 30px;
}

.search:before
{
	content: "\002315";
	display:inline-block;
}

.table
{
	width:100%;
	display:table;
}

.row
{
	display: table-row;
}

.cell
{
	padding: 0px 4px;
	display: table-cell;
	line-height: 1.42857143;
}

.table input
{
	display:inline;
	margin:2px 1px;
}

.heading
{
	margin-left:5px;
	font-weight: bold;
	margin-right:auto;
	display: table-cell;
	line-height: 1.42857143;
	padding: 4px 0px 0px 15px;
}

.heading label
{
	cursor: pointer;
}

.heading:hover
{
	transform: scale(1.05);
	box-shadow: 2px 2px 2px rgba(black, 0.2);
}

.heading:active
{
	transform: scale(1.02);
}

.indicator
{
	width:10px;
	display:grid;
	align-items: center;
	justify-content: center;
}

.indicator span
{
	width:10px;
	height: 10px;
}

.radio_button
{
	width:80px;
	margin: 2px 4px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

.radio_button p
{
	width:30px;
	margin-right:10px;
	display:inline-block;
}

.radio_button .radio
{
	right:4px;
	position: absolute;
	display:inline-flex;
}

button
{
	padding: 4px 8px;
	font-size: 12px;
	cursor: pointer;
	border:1px solid;
	position: relative;
	text-align: center;
	border-radius: 15px;
	transition: all 0.2s;
	display: inline-block;
	text-decoration: none;
}

input:enabled,
input[enabled=enabled]
{
	border: none;
	font-size: 14px;
	font-weight: normal;
	margin:0px 7px 0px 10px;
	transition: all 0.18s ease;
	background-color: transparent;
	border-bottom: 2px solid black;
}

input:disabled,
input[disabled=disabled]
{
	border: none;
	font-size: 14px;
	font-weight: normal;
	margin:0px 7px 0px 10px;
	transition: all 0.18s ease;
	background-color: transparent;
	border-bottom: 2px solid black;
}

input.invalid
{
	border-bottom: 2px solid red;
}

textarea.invalid
{
	border-bottom: 2px solid red;
}

select
{
	border: none;
	background-color: transparent;
	border-bottom: 2px solid black;
}

.warning
{
	font-style: italic;
	color: lightcoral;
}

input.detail:read-only
{
	background: none;
}

input[mode="query"]
{
	padding-left: 15px;
	display:inline-block;
    background-size: 10px;
	background-repeat: no-repeat;
	background-image: url(images/icons8-search-30.png);
}

input[mode="insert"]
{
	padding-left: 15px;
	display:inline-block;
    background-size: 10px;
	background-repeat: no-repeat;
	background-image: url(images/icons8-insert-30.png);
}

.icon_calander
{
	width:15px;
	color: black;
	cursor: default;
	display:inline-block;
}

.icon_calander:active
{
	transform: scale(1.04);
}

p:focus-within span 
{ 
	font-weight: bold; 
}

div[name='day'] span
{
	width:100%;	
	text-align:center;
}

div[name='day'] span:focus
{
	font-weight: bold; 
}

span[name^="day-"]:hover,
span[name^="day-"]:focus
{
	font-weight: bold; 
	user-select: none;
}

div[name="prev"]:active,
div[name="next"]:active
{
	transform: scale(1.2);
	user-select: none;
}

div[name="canvas"]
{
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

div.modal
{
	backdrop-filter: blur(2px);
}