html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.page
{
    display: grid;
    grid-auto-flow: column;
    height: calc(100vh - 56px);
    grid-template-columns: fit-content(40%);
}

.page-header
{
    width: 100%;
    height: 20px;
    display: inline-grid;
    grid-auto-flow: column;
    border: 1px solid black;
    background-color: lightgray;
    grid-template-columns: 40px calc(100% - 80px);
}

.page-footer
{
    height: 32px;
    display: block;
    border-top: 1px solid black;
}

.canvas
{
    border: 1px solid black;
}

.canvas-header
{
    width: 100%;
    height: 20px;
    display: inline-grid;
    grid-auto-flow: column;
    border-bottom: 1px solid black;
    grid-template-columns: 40px calc(100% - 80px) 40px;
}

.canvas-header-left
{
    background-color: lightgray;
}

.canvas-header-middle
{
    background-color: lightgray;
}

.canvas-header-right
{
    cursor: default;
    background-color: lightgray;
}