html, body
{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.page
{
    display: grid;
    grid-auto-flow: column;
    height: calc(100vh - 60px);
    grid-template-columns: fit-content(30%);
}

.page-header
{
    width: 100%;
    height: 20px;
    display: inline-grid;
    grid-auto-flow: column;
    border: 1px solid black;
    background-color: lightgray;
    grid-template-columns: 40px calc(100% - 80px);
}

.page-footer
{
    height: 36px;
    display: flex;
    border-top: 1px solid black;
}

.canvas
{
    background: white;
    border: 1px solid black;
}

.form-area
{
    width: 100%;
    height: 100%;
    position: relative;
}

.form-header
{
    width: 100%;
    height: 20px;
    display: inline-grid;
    grid-auto-flow: column;
    border-bottom: 1px solid black;
    grid-template-columns: 40px calc(100% - 80px) 40px;
}

.form-header-left
{
    background-color: lightgray;
}

.form-header-middle
{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.form-header-right
{
    cursor: default;
    background-color: lightgray;
}

.menu-left
{
    height: 100%;
    border-right: 1px solid black;
}

.left-menu-container
{
	display: none;
	margin: 5px;
	min-width: 100px;
	width: fit-content;
	padding: 10px;
	background: transparent;
	border-radius: 0;
	text-align: left;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.menu-item
{
	font-size: 13px;
	display: block;
	background: white;
	margin-top: 15px;
	margin-left: -15px;
}

.link-item
{
	font-size: 13px;
	display: block;
	background: white;
	margin-top: 15px;
	margin-left: -15px;
}

.left-menu-container .menu-items
{
    padding-left:5px;
    transition: 0.3s;
}

.left-menu-container .menu-item:before
{
    content: '\25B6';
    font-size: 13px;
    color: black;
    display:inline-block;
    margin-right: 5px;
}

.left-menu-container .link-item:before
{
    content: '\00a0';
    font-size: 13px;
    color: black;
    display:inline-block;
    margin-right: 13px;
}

.left-menu-container a:hover
{
    color: hwb(0 2% 98% / 0.582);
}

.caret-down:before
{
    transform: rotate(90deg);
}

.row-indicator
{
	width: 8px;
	height: 8px;
	display: block;
	background-color: yellow;
}

.phonebook
{
	width: 400px;
    margin-top:20px;
    display: grid;
    min-width: 100%;
    row-gap: 2px;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}

.phonebook .phonebook_colunm
{
    display:grid;
    gap:2px;
    justify-content: center;
    align-content: center;

}

.phonebook .phonebook_heading .phonebook_search
{
	width: 100%;
	justify-content: center;
    margin:2px;
}

.phonebook  .phonebook_input
{
    margin:50px 30px;
    display:grid;
    align-content: center;
}

.phonebook .phonebook_input label
{
    margin:2px;
    display:inline-flex;
}

.phonebook  .phonebook_input label span
{
    display:inline-block;
    width:80px;
}

.phonebook .phonebook_info
{
    display:inline-flex;
}

.phonebook  .phonebook_colunm .phonebook_search
{
    margin-left: 30px;
}

.phonebook  .phonebook_colunm .phone_button
{
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.phonebook .phonebook_colunm .phonebook_info input
{
    display:inline;
    margin:2px 1px;
}

.phonebook .phonebook_colunm .phonebook_info .phonebook_indicator
{
    display:grid;
    align-items: center;
    justify-content: center;
    width:10px;
}

.phonebook  .phonebook_colunm .phonebook_info .phonebook_indicator span
{
    width:10px;
    height: 10px;
}

.field
{
    display:grid;
   min-width: 100%;
   row-gap: 10px;
   grid-template-columns:repeat(auto-fit,minmax(550px,1fr));
   padding: 10px 20px;

}

.field .field_columen .field_fieldset
{
    margin-top: 30px;
    width: 80%;
    margin-left: 5%;
}


.field .field_columen_radio
{
    width:80px;
    margin: 2px 4px;
    position: relative;
    vertical-align: top;
    display: inline-block;
}

.field .field_columen_radio label
{
	width:30px;
	margin-right:10px;
	display:inline-block;
}

.field .field_columen_radio .field_radio
{
    position: absolute;
    right:4px;
    display:inline-flex;
}

.field .field_row
{
    height: fit-content;
    display:grid;
    justify-content: center;
    align-content: center;
    margin:20px 30px;
}

.field .field_row .field_columen
{
	padding:2px 5px;
	display:block;
}

.field .field_row .field_columen span
{
    width:70px;
    display:inline-block;
    padding-left: 5px;
}

button
{
	display: inline-block;
	border: 0.16em solid rgba(#000, 0);
	border-radius: 20px;
	text-decoration: none;
	padding: 4px;
	text-align: center;
	transition: all 0.2s;
	cursor: pointer;
	position: relative;
	font-size: 12px;
}

.btn
{
	font-weight: bold;
	color: #000;
	text-shadow: 0 0.04em 0.04em rgba(#000, 0.35);
	padding: 7px 14px;
	width:80px;
	font-size: 12px;
}

.btn:hover
{
	transform: scale(1.05);
	box-shadow: 2px 2px 2px rgba(#000, 0.2);
}

.btn:active
{
	background-color: rgba(#000, 5);
}

input:enabled,
input[enabled=enabled]
{
	border: none;
	font-weight: normal;
	margin:0px 7px 0px 10px;
	font-size: 14px;
	transition: all 0.18s ease;
	border-bottom: 2px solid #000;
}

input:disabled,
input[disabled=disabled]
{
	border: none;
	font-weight: normal;
	padding: 8px;
	font-size: 16px;
	color: #222;
	background-color: transparent;
	transition: all 0.18s ease;
	border-bottom: 2px dotted #000;
}

input.invalid
{
	border-bottom: 2px solid red;
}

textarea.invalid
{
	border-bottom: 2px solid red;
}

select
{
	border: none;
	border-bottom: 2px solid #000;
	background-color: transparent;
}

.green
{
	color: green;
}
