
/* header popup canvas */

.form-header,
div[name="popup-header"]
{
	width: 100%;
	height: 20px;
	color:white;
   cursor: default;
	display: inline-grid;
	grid-auto-flow: column;
	background-color: #424549;
   border-bottom: 1px white solid;
}

.form-header
{
   grid-template-columns: 40px 1fr 60px;
}

.form-header-middle
{
	display: flex;
   user-select: none;
	justify-content: center;
}

.form-header-right div div:hover:not(:last-child)
{
	background-color: rgb(127, 127, 127);
}

div[name="close"]:hover,
div[name="close-button"]:hover
{
	color:white;
	background-color: rgb(255, 94, 94);
}

/* ---------------------------- */
/* canvas form */

.canvas
{
	background-color: #424549;
	animation-fill-mode: backwards;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

form
{
	display:grid;
	flex-wrap: wrap;
   margin:20px;
}

.container
{
   gap:5px;
   display:flex;
   align-items: center;
}

.block
{
	margin:10px;
	padding: 30px;
   width: max-content;
   height: max-content;
	position: relative;
	border-radius: 10px;
   display: grid;
	background-color: #ffffff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}

.block p
{
   margin-top:0px; 
   margin-bottom: 5px;
}

/* ------------------- */
/* Phonebook */
.context p span
{
   width:100px;
   display:inline-block;
}

/* ------------------- */
/*FieldTypes canvas */

.column,
.radio_button
{
   display:flex;
   align-items: end;
}
/* ------------------- */