
/* header */

.app-header
{
   color:white;
   background-color: #36393e;
}

.logo
{
	color:white;
}

.hamburger-context
{
   border-bottom: solid white 2px;
}

/*show keymap text*/
.topbar .top-menu li li div
{
   background-color: black;
}

.top-menu
{
   background-color: #36393e;
}

/* used https://codepen.io/sosuke/pen/Pjoqqp if you need change color for filter*/
.infomation-img
{
   filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(3deg) brightness(108%) contrast(105%);
}

.infomation li
{
   border-bottom: solid #dedede 1px;
}

.InformationKeyMap
{
   color:black;
   background-color:white;
}

.topbar li a:before,
.left-menu-container a:before
{
   border-top: 2px solid #6060F0;
	border-bottom: 2px solid #6060F0;
}


.topbar li a:after,
.left-menu-container a:after
{
   background-color: #6060F0;
}

/*-------------------*/
/* canvas */
div[name="popup-header"]
{
   color:white;
   background-color: #424549;
   border-bottom: 1px white solid;
}


div[name="toggle"]
{
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(105%) contrast(101%);
}

.canvas
{
   background-color: #424549;
}

.block 
{
   background-color: #ffff;
}

.row-indicator
{
   background-color: gray;
}

.fieldset,
.fieldset legend 
{
	border: 2px solid #000;
}

/*---------------------*/
/*canvas  hover and focus */
div[name="form-header-right"] div:hover:not(:last-child),
div[name="form-header-right"] div:focus:not(:last-child)
{
	background-color: rgb(127, 127, 127);
}

div[name="close-button"]:hover,
div[name="close-button"]:focus
{
	background-color: rgb(255, 94, 94);
}
/*-----------------------*/
/* popup */

/* used https://codepen.io/sosuke/pen/Pjoqqp if you need change color for filter*/
div[name="loginimage"]
{ 
   background-color: #36393e;
   filter: invert(100%) sepia(1%) saturate(4058%) hue-rotate(223deg) brightness(117%) contrast(100%);
}


div[name="popup-body"]
{
   background: #424549;
}

div[name="popup-body"] div[name="lov"],
div[name="popup-body"] div[name="msg"],
div[name="popup-body"] div[name="login"],
div[name="popup-body"] div[name="query"],
div[name="popup-body"] div[name="date-picker"]
{
   background-color: white;
}

/*-----------------------*/
/* calculator */

div[name="prev"]:hover,
div[name="next"]:hover,
div[name="next"]:focus,
div[name="prev"]:focus
{
	background-color: rgb(205, 205, 205);
}

div[name="prev"]:active,
div[name="next"]:active
{
	color:white;
	background-color: gray;
}

.weekend
{
	color:red;
}

/*-----------------------*/
/* input */
input.invalid
{
	border-bottom: 2px solid red;
}

input[type="checkbox"]::before,
input[type="radio"]::before 
{
	color: black;
}

input[type="radio"]:checked::before ,
input[type="checkbox"]:checked::before
{
	color:white;
}

.warning
{
   color: lightcoral;
}

input[type="checkbox"]:checked 
{
	color: #fff;
	border-color: #000000;
	background-color: #000000;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked  
{
   color: #fff;
	border-color: #000000;
	background-color: #000000;
}


/*---------------------*/
/* Tags */

textarea
{
   border-bottom: 2px solid black;
}
textarea.invalid
{
   border-bottom: 2px solid red;
}