


.middle
{
	justify-content: center;
}



legend
{
	font-weight: bold;
}

textarea 
{
	border:none;
	resize: none;
	box-shadow: none;
	border-bottom: 2px solid black;
}

textarea:required
{
	outline: none;
	box-shadow: none;
}