/* page-header */
.app-header
{
	width: 100%;
	height: 40px;
	padding:0 10px;
	align-items: center;
	display: inline-grid;
	grid-auto-flow: column;
	grid-template-columns: 40px 1fr 40px;
}



/*topbar left Hamburger*/
.hamburger
{
	top: 2px; 
	left: 2px; 
	height: 16px;
	cursor: pointer;
	position: relative; 
}

.hamburger-context
{
	margin: 0; 
	padding: 0;
	width: 16px; 
	height: 3px; 
}


/*-------------------*/
/*topbar middle*/
.topbar
{
	height: 100%;
	display:flex;
	font-size:18px;
	cursor: default;
	user-select: none;
	justify-content: center;
}

.topbar .top-menu,
.topbar .link-item
{
	margin:0;
	font-size:13px;
	padding:0 13px;
	cursor: default;
	font-weight: bold;
	position: relative;
	list-style: none;
	display:inline-flex;
	align-items: center;
	background-color: transparent;
}

.topbar .top-menu li li div
{
   width:45px;
	padding: 5px;
	position: absolute;
	text-align: center;
	visibility: hidden;
   background-color: black;
}


.topbar .top-menu li li:not([type="menu"]) div
{
	left: 100%;
}

.topbar .top-menu li li[type="menu"] div
{
	right: 100%;
}

.topbar  li li a:focus ~ div,
.topbar  li li a:hover ~ div
{
	visibility: visible;
}

.topbar  li a:hover:not([disabled]):after,
.topbar  li a:focus:not([disabled]):after,
.topbar  li a:hover:not([disabled]):before,
.topbar  li a:focus:not([disabled]):before
{
	opacity: 1;
	transform: scaleY(1);
}

.topbar a:not([disabled])
{
	cursor: pointer;
}

.topbar .top-menu.level-1 li[type="menu"]:after
{
	top:4px;
	left:85%;
	display:flex;	
   z-index: 1000;
	font-size: 20px;
	content: "\203A";
	position: absolute;
}

.topbar .top-menu.level-1
{
	top: 100%;
	left: 50%;
	height: 100%;
	z-index:9999;
	padding:0px;
	display: table;
	min-width: 110px;
	position: absolute;
	/* background-color: #36393e; */
	transform: translateX(-50%);
	box-shadow: 0 2px 10px #666;
}

.topbar .top-menu li li
{
	margin:0;
	padding:0;
	display: flex;
	font-size: 13px;
	position: relative;
	text-align: center;
	font-weight: normal;
	/* background-color: transparent; */
}

.topbar menu[name="top-menu"] li
{
	padding:0;
	margin:0;
	height: 100%;
   position: relative;
}

.topbar menu[name="top-menu"]  li a
{
	z-index: 1;
	display:flex;
	height: 90%;
	min-width: 110px;
	align-items: center;
	justify-content: center;
}

.topbar .top-menu li li a
{
	margin:0;
	width:100%;
	height:100%;
	padding: 13px 0;
	align-items: center;
	justify-content: center;
}

.top-menu.level-2,
.top-menu.level-3
{
	padding:0;
	left: 100%;
	z-index:-1;
	display: block;
	position: absolute;
	background-color: #36393e;
}


/*-------------------*/
/*infomation */
.infomation
{
	gap:30px;
	width:auto;
	height: 100%;
	display:flex;
	margin-right: 5px;
	position: relative;
	align-items: center;
}

.infomation .img:hover ~ .InformationKeyMap
{
	display:table;
}

.infomation a
{
	color:white;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.infomation-img
{
	width:30px;
	height: 30px;
	margin-top:5px;
	cursor: default;
	background-size: 25px;
	background-repeat: no-repeat;
	background-image: url(images/info.png);
	
}

.InformationKeyMap
{
	top:100%;
	right:-10px;
	width:300px;
	
	display:none;
	z-index: 9999;
	margin-top:0px;
	list-style: none;
	position: absolute;
	
	box-shadow:  0 2px 10px #666;
}

.infomation	li
{
	display:grid;
	flex-wrap: nowrap;
	padding: 4px 6px;
	border-bottom: solid #dedede 1px;
	grid-template-columns: 150px 1fr;
}

.infomation	li:last-child
{
	border-bottom: none;
}

/* ----------------- */

.topbar li a:before,
.left-menu-container a:before
{
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	content: '';
	height: 100%;
	transition: .3s;
	user-select: none;
	position: absolute;
	transform: scaleY(2);
	pointer-events: none; 
	border-top: 2px solid #6060F0;
	border-bottom: 2px solid #6060F0;
}

.topbar li a:after,
.left-menu-container a:after
{
	left: 0;
	top: 2px;
	opacity: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	transition: .3s;
	user-select: none;
	position: absolute;
	transform: scale(0);
	pointer-events: none; 
	background-color: #6060F0;
}