input
{
	border: none;
	font-size: 14px;
	font-weight: normal;
	margin:0px 0px 0px 10px;
	transition: all 0.18s ease;
	background-color: transparent;
	border-bottom: 2px solid black;
}

input.invalid,
textarea.invalid
{
	border-bottom: 2px solid red;
}

input[date]
{
	width:90px;
}

input[mode="query"],
input[name="search"],
div[name="search"] input
{
	text-indent: 12px;
   background-size: 10px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-position-y: center;
	background-image: url(images/icons8-search-30.png);
}

input[mode="insert"]
{
	text-indent: 12px;
	background-size: 10px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-position-y: center;
	background-image: url(images/insert.png);
}

input[mode="deleted"]
{
	transition: all 0.18s ease;
	text-decoration: line-through;
}

.warning
{
	font-style: italic;
	color: lightcoral;
}

input.detail:read-only
{
	background: none;
}
/*----------------------------*/
/*textarea*/

textarea 
{
	border:none;
	resize: none;
	box-shadow: none;
	border-bottom: 2px solid black;
}

textarea:required
{
	outline: none;
	box-shadow: none;
}

/*-----------------------------*/
/*checkbox and radio */

input[type="radio"],
input[type="checkbox"]
{
	top:4px;
	right:5px;
	width: 20px;
	height: 20px;
	outline: none; 
	cursor: pointer;
	appearance: none;
	border-radius: 5px;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 2px solid #000000;
 }

input[type="radio"]
{
	border-radius: 50%;
}

input[type="checkbox"]
{
	border-radius: 5px;
}


input[type="checkbox"]::before {
	top: 40%;
	left: 50%;
	font-size: 14px;
	content: '\2713'; 
	color: #000000;
	position: absolute;
	transition: transform 0.2s ease-in-out;
   transform: translate(-50%, -50%) scale(0);
}

input[type="radio"]::before {
 	top: 50%;
 	left: 50%;
 	font-size: 20px;
 	content: '\2022'; 
 	color: #000000;
 	position: absolute;
 	transform: translate(-50%, -50%) scale(0);
 	transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked::before ,
input[type="checkbox"]:checked::before {
	color:white;
	transform: translate(-50%, -50%) scale(1);
}
 
input[type="checkbox"]:checked 
{
	background-color: #000000;
	border-color: #000000;
	color: #fff;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked  
{
	background-color: #000000;
	border-color: #000000;
	color: #fff;
}

/*---------------------------*/