.left-menu-container li[type="link"]
{
	width:100%;
}

.left-menu.level-1,
.left-menu.level-2
{
	margin-bottom: 0px;
	margin-left:35px !important;
}

.left-menu-container  .left-menu:not(:first-child)::before
{
	margin-left: 10px;
}

.menu-left
{
	width:28px;
	padding:0px;
	height: 100%;

	transition: 0.5s;
	overflow: hidden;
	position: relative;
	
}

.left-menu-container
{
	margin-top:7px;
	display: block;
	cursor: pointer;
	font-weight: 400;
	text-decoration: none;
}

.left-menu-container .left-menu
{
	margin-left: 5px;
	padding:0px !important; 
	display:block !important;
	font-size:15px !important;
	margin-top:0px !important;
	transition: 0.3s !important;
	list-style: none !important;
	transition: 0.3s !important;
}

.left-menu-container .left-menu li a
{
	z-index: 1;
	width:200px;
	position: relative;
	display:table-cell;
	height: fit-content;
	padding:5px 0px 5px 5px;
}

.left-menu.level-1 li[type="menu"]
{
	margin-left: 5px;
}

.left-menu-container .left-menu li[type="menu"]:before
{
	margin-left:5px;
	user-select: none;
	padding-right:8px;
	margin-right:15px;
	display:table-cell;
	vertical-align: middle;
	filter: invert(100%) sepia(0%) saturate(4465%) hue-rotate(152deg) brightness(110%) contrast(92%);
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTEgMjFINGEyIDIgMCAwIDEtMi0yVjVjMC0xLjEuOS0yIDItMmg1bDIgM2g5YTIgMiAwIDAgMSAyIDJ2Mk0xNiAxOGg2Ii8+PC9zdmc+");
}

.left-menu-container .left-menu li[type="menu"][open]:before
{
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTEgMjFINGEyIDIgMCAwIDEtMi0yVjVjMC0xLjEuOS0yIDItMmg1bDIgM2g5YTIgMiAwIDAgMSAyIDJ2Mk0xOSAxNXY2TTE2IDE4aDYiLz48L3N2Zz4=");}


.left-menu-container .left-menu li a:hover:after,
.left-menu-container .left-menu li a:hover:before,
.left-menu-container .left-menu li a:focus:after,
.left-menu-container .left-menu li a:focus:before
{
	opacity: 1;
	transform: scaleY(1);
}