.info-dropdown .menu-items
{
	cursor: default;
	padding: 10px 5px;
}

.info-dropdown .menu-item:first-child
{
	margin-top:0px;
}
.info-dropdown .menu-item
{
	margin-left:0px;
	padding: 4px 8px;
	margin-bottom: 2px;
	border-bottom: solid 1px rgb(0,0,0,.2);
}

.info-dropdown .menu-item:last-child
{
	border-bottom: none;
}

.info
{
	width:20px;
	height: 20px;
	cursor: pointer;
	position: relative;
	display:inline-block;
   background-size: 20px;
	transition: all 0.18s ease;
	background-repeat: no-repeat;
	background-image: url(images/icons8-info-50.png);
	filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(23deg) brightness(105%) contrast(101%);
}

.info .info-dropdown
{
	top: 42px;
	right: 0px;
	width:185px;
	display:none;
	z-index: 99999;
	position: fixed;
	font-size: 14px;
	list-style: none;
	background-color: white;
	box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
}

.wrapper
{
	z-index: 999;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrapper .menu
{
    padding:10px 12px;
}

#block.fatal ~ div[name="popup-body"] div[name="popup-alert"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"]
{
	display:grid !important;
	justify-content: end !important;
	grid-auto-flow: column !important;
	grid-template-columns: 30px 1fr !important;
}


#block.fatal ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"]
{
	word-break: break-all;
	margin-left:10px !important;
}

#block  ~ div[name="popup-body"] div[name="alertlogo"]
{
	width: 100%;
	height: 75%;
	background-size: 30px;	
	background-repeat: no-repeat;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(104%) contrast(101%);
}

#block.fatal  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url(images/fatal.png);
}

#block.warning  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url(images/warning.png);
}