/*popup-body */
div[name="popup-body"]
{
	padding:10px 0;
}

div[name="popup-body"] div[name="lov"],
div[name="popup-body"] div[name="msg"],
div[name="popup-body"] div[name="login"],
div[name="popup-body"] div[name="query"],
div[name="popup-body"] div[name="date-picker"]
{
	margin:0 20px;
	border-radius: 10px;
	padding: 5px 20px 20px 20px;
}

/*------------------*/
/* login */
div[name="loginimage"]
{
	width: 60px;
	height: 60px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-radius: 50px;
	margin: 0 auto 10px auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(images/login.jpg);
}

input[name="password"],
input[name="username"]
{
	margin-left:0px;
}

div[name="loginbutton"]
{
	gap:5px;
	display: flex;
	justify-content: right;
}

div[name="lowerright"]
{
	height: 100%;
	padding-top:0px;
	margin:10px 10px 5px 10px;
}

label[for="username"],
label[for="password"]
{
	user-select: none;
	font-weight: bold;
	margin-bottom:5px;
}

/*------------------*/
/* calculator  */
div[name='day'] span:focus
{
	font-weight: bold;
}

span[name^="day-"]:hover,
span[name^="day-"]:focus
{
	font-weight: bold;
	user-select: none;
}

div[name="prev"],
div[name="next"]
{
	user-select: none;
}

/*---------------*/
/*multi-value*/

.multi-value
{
	margin-left:0px;
}

/* alert */
div[name="popup-alert"]
{
	margin:0 20px;
}

#block.fatal ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"] div[name="msg"]
{
	margin-left:10px;
	word-break: break-all;
}

#block  ~ div[name="popup-body"] div[name="alertlogo"]
{
	width: 100%;
	height: 75%;
	background-size: 30px;	
	background-repeat: no-repeat;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(104%) contrast(101%);
}

#block.fatal  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url(images/fatal.png);
}

#block.warning  ~ div[name="popup-body"] div[name="alertlogo"]
{
	background-image: url(images/warning.png);
}

#block.fatal ~ div[name="popup-body"] div[name="popup-alert"],
#block.warning ~ div[name="popup-body"] div[name="popup-alert"]
{
	display:grid;
	justify-content: end;
	grid-auto-flow: column;
	grid-template-columns: 30px 1fr;
}
/*---------------*/


